<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Music Library</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="pictures/music.png">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="vue.js"></script>
    <script src="music.js"></script>
</head>
<body>
<div id="app">
    <img :src="music.image" id="bgi" alt="background">
    <div id="bg" :style="{'background-image':'url('+music.image+')'}"></div>
    <div id="mask"></div>
    <div id="player">
        <span id="title">{{music.name}}</span>
        <audio id="play" ref="music" :src="music.url" @ended="onAudioEnded()" @pause="onPause()" @play="onPlay()" controls>Music Player</audio>
        <div id="btn-group">
            <button @click="prePlay()">上一首</button>
            <button @click="nextPlay()">下一首</button>
            <button v-if="config.type==0" @click="config.type=1">顺序播放</button>
            <button v-if="config.type==1" @click="config.type=2">单曲循环</button>
            <button v-if="config.type==2" @click="config.type=0">随机播放</button>
        </div>
        <div id="goto">
            <input type="text" aria-labelledby="Search" v-model="config.search">
            <button @click="search()">跳转</button>
            <button @click="filter()">搜索</button>
        </div>
        <a :href="music.image" target="_blank"><img id="cover" :src="music.image" class="rotate stop-rotate" alt="Album Cover"></a>
    </div>
    <div id="repository"><a href="https://github.com/panaleica/panaleica.github.io" target="_blank">GitHub</a></div>
    <fieldset>
        <ul id="list">
            <li v-for="(item,index) in musicList" :class="{active:item.url==music.url}" :title="item.name" @click="onAudioClick(item,index)">
                <span class="index">&nbsp;{{index+1}}&nbsp;</span><span>{{item.name}}</span>
            </li>
        </ul>
    </fieldset>
</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            musicList: [...json],
            music: {
                name: '',
                url: ''
            },
            curIndex: 0,
            config: {
                search: "",
                type: 0,
            }
        },
        mounted() {
            this.$refs.music.volume = 0.8
            this.music = this.musicList[this.curIndex]
        },
        methods: {
            onAudioClick(music, index) {
                this.curIndex = index
                this.music = music
                this.play()
            },
            onAudioEnded() {
                switch (this.config.type) {
                    case 0:
                        this.nextPlay()
                        break;
                    case 1:
                        this.play()
                        break;
                    case 2:
                        this.randomPlay();
                        break;
                    default:
                        break;
                }
            },
            play() {
                this.$nextTick(() => {
                    this.$refs.music.play();
                    document.title = this.music.name
                })
            },
            prePlay() {
                if (this.musicList.length === 0) {
                    return
                }
                if (this.config.type === 2) {
                    this.randomPlay()
                } else if (this.curIndex === 0 || this.curIndex === -1) {
                    this.curIndex = this.musicList.length - 1
                    this.music = this.musicList[this.curIndex]
                    this.play()
                } else {
                    this.music = this.musicList[--this.curIndex]
                    this.play()
                }
            },
            nextPlay() {
                if (this.musicList.length === 0) {
                    return
                }
                if (this.config.type === 2) {
                    this.randomPlay()
                } else if (this.curIndex === this.musicList.length - 1 || this.curIndex === -1) {
                    this.curIndex = 0
                    this.music = this.musicList[this.curIndex]
                    this.play()
                } else {
                    this.music = this.musicList[++this.curIndex]
                    this.play()
                }
            },
            randomPlay() {
                if (this.musicList.length === 0) {
                    return
                }
                this.curIndex = Math.floor(Math.random() * this.musicList.length)
                this.music = this.musicList[this.curIndex]
                this.play()
            },
            search() {
                if (this.musicList.length === 0) {
                    return
                }
                if (this.config.search.trim() === "") {
                    return
                }
                let flag = 0;
                for (let index = (this.curIndex === this.musicList.length - 1) ? 0 : this.curIndex + 1; index < this.musicList.length; index++) {
                    if (this.musicList[index].name.toLowerCase().includes(this.config.search.trim().toLowerCase())) {
                        this.curIndex = index;
                        break
                    }
                    if (flag < 1 && index === this.musicList.length - 1) {
                        index = -1
                        flag++
                    }
                }
                document.querySelector('#list').children[this.curIndex].scrollIntoView(false)
                this.music = this.musicList[this.curIndex]
                this.play()
            },
            filter() {
                this.musicList = [...json]
                for (let index = 0; index < this.musicList.length; index++) {
                    if (!this.musicList[index].name.toLowerCase().includes(this.config.search.trim().toLowerCase())) {
                        this.musicList.splice(index, 1)
                        index--
                    }
                }
                for (let i = 0; i < this.musicList.length; i++) {
                    if (this.musicList[i].url === this.music.url) {
                        this.curIndex = i
                        break
                    } else {
                        this.curIndex = -1
                    }
                }
            },
            onPause() {
                const image = document.getElementById("cover");
                image.classList.add("stop-rotate")
            },
            onPlay() {
                const image = document.getElementById("cover");
                image.classList.remove("stop-rotate")
            }
        }
    });
</script>
</body>
</html>