body {
    margin: 0;
    background: linear-gradient(to right, rgb(235, 243, 255), rgb(255, 234, 248), rgb(250, 236, 255), rgb(230, 230, 255));
}

a {
    text-decoration: none;
}

#player {
    position: fixed;
    left: 10%;
    top: 20px;
    width: 850px;
    height: 110px;
    background: linear-gradient(to right, rgb(242, 214, 253), rgba(224, 224, 253, 0.95), rgba(244, 225, 255, 0.9), rgba(225, 225, 248, 0.95));
    border-radius: 100px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover {
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
    height: 95px;
    width: 95px;
    border-radius: 100%;
}

.rotate {
    animation: rotation 6s linear infinite;
}

.stop-rotate {
    animation-play-state: paused;
}

#title {
    position: fixed;
    margin-left: 150px;
    margin-top: 15px;
    font-weight: bold;
    color: rgba(79, 3, 103, 0.73);
}

#play {
    position: fixed;
    margin-left: 140px;
    margin-top: 45px;
    width: 380px;
}

button {
    background-color: rgba(133, 113, 204, 0.9);
    color: white;
    text-align: center;
    border: none;
    font-size: 14px;
    height: 25px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgba(174, 160, 232, 0.9);
}

#btn-group {
    position: fixed;
    margin-left: 560px;
    top: 48px;
}

#goto {
    position: fixed;
    margin-left: 559px;
    top: 82px;
}

input {
    color: rgb(133, 113, 204);
    outline: none;
    width: 74px;
    height: 20px;
    border: 2px solid #e2d8ee;
    border-radius: 4px;
}

#repository {
    height: 25px;
    width: 100px;
    position: fixed;
    right: 2%;
    top: 0;
    background-color: rgba(217, 202, 236, 0.87);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#repository a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

fieldset {
    margin: 150px 9% 20px 9%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 202, 239);
    padding: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    font-size: 14px;
    width: 290px;
    line-height: 220%;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(203, 167, 218, 0.1);
    transition: color 0.3s, border-bottom 0.3s, background 0.3s;
}

li:hover {
    cursor: pointer;
    color: #9c76fd;
    background: rgba(179, 118, 253, 0.08);
}

.active {
    color: rgb(156, 118, 253);
    font-weight: bold;
    border-bottom: 3px solid rgb(156, 118, 253);
}

.index {
    font-family: Consolas, serif;
    color: #8c8c8c;
}

#bg {
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(60px);
    transform: scale(1.2, 1.2);
    z-index: -1;
    transition: background 0.4s;
}

#bgi {
    top: 0;
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(60px);
    transform: scale(1.2, 1.2);
    z-index: -1;
}

#mask {
    top: 0;
    background: white;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: -1;
}